{% extends 'base.html' %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='isitfriday.js') }}" defer></script>
{% endblock %}

{% block title %}
Is it friday?
{% endblock %}

{% block body %}

<div class="question">Is it Friday?</div>
{% if nights_to_sleep == 0 %}
<div class="answer yes" id="answer">YES!</div>
<div class="nts" id="nts"></div>
{% else %}
<div class="answer no" id="answer">NO</div>
<div class="nts" id="nts">Just {{ nights_to_sleep }} more night{{ 's' if nights_to_sleep > 1 }} of sleep to go.</div>
{% endif %}
{% endblock %}

